interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer ***
    method: GET
    uri: https://statistics-api.wildberries.ru/api/v1/supplier/sales?dateFrom=2025-09-02&flag=1
  response:
    body:
      string: "{\n    \"title\": \"unauthorized\",\n    \"detail\": \"access token
        problem; token is malformed: token contains an invalid number of segments\",\n
        \   \"code\": \"167251cb759b cc73ad3617b9d5c82732 84bd353bf-75\",\n    \"requestId\":
        \"69cf4ea7d6828f1a3b03d15244e6ae72\",\n    \"origin\": \"s2s-api-auth-stat\",\n
        \   \"status\": 401,\n    \"statusText\": \"Unauthorized\",\n    \"timestamp\":
        \"2025-10-02T07:54:07Z\"\n}\r\n"
    headers:
      Content-Language:
      - en
      - ru
      Content-Type:
      - application/problem+json
      X-S2s-Request-Id-Mirrored:
      - 69cf4ea7d6828f1a3b03d15244e6ae72
      X-S2s-Response-By:
      - itself
      X-S2s-Server:
      - s2s-api-auth-stat
    status:
      code: 401
      message: Unauthorized
version: 1
